---
name: Build and Push

on:
  push:
    branches: [master]
  pull_request: null

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: "temurin"

      - name: Set Gradle permissions
        run: chmod +x ./gradlew

      - name: Build with Gradle
        run: ./gradlew jar

      - name: Upload Jars
        uses: actions/upload-artifact@v4
        with:
          name: MyPrivateDiscordBotForMyFriendsServer
          path: build/libs/**.jar
